@CHARSET "UTF-8";

#simulator {
	position: absolute;
	top: 0px;
	left: 0px;
	/*-moz-transform: scale(0.5);*/
}
/* making it of size 0
 to have the rotate of the top left corner. */
#rotationCenter {
	position: absolute;
	/*-webkit-transform: rotate(90deg);
	 -moz-transform: rotate(90deg);
	 top: 25px;
	 left: 1133px;*/
	height: 0px;
	width: 0px;
}
#frame {
	position: absolute;
	top: 0px;
	left: 0px;
}
#screen {
	position: absolute;
	/*border: 2px solid blue;*/
}
#mouseOver {
	position: absolute;
	z-index: 4;
	/*border: 2px solid green;*/
}
#tree {
	position: absolute;
}
#details {
	position: absolute;
	width: 350px;
	border: 2px solid green;
}
#highlight {
	position: absolute;
	background-color: yellow;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 0px;
	z-index: 3;
	opacity: 0.5;
}