# ignore eclipse/intellig project files
# maven is used
.settings
target/
.classpath
.project
.idea/*
*.iml
test-output/
applications/
# apple likes to make these, we don't care about them
.DS_Store

.DS_Storeserver/uiamasterscript.js
ide/instruments*
ide/uiamasterscript.js
server/uiamasterscript.js
server/ss.png
instrumentscli*
server/src/test/resources/fr.json
ios-driver.log*
logstash-ios-driver.log*
/java/*
ide/src/test/java/org/uiautomation/ios/ide/pages/begin/SafariTests.java
ide/src/test/java/org/uiautomation/ios/ide/pages/begin/eBayTests.java
ide/src/test/java/org/uiautomation/ios/ide/pages/begin/SafariTests.java
go.sh
server-standalone-*.jar
ios-server-*-SNAPSHOT.jar
ide/src/test/java/org/uiautomation/ios/selenium/PerformanceTest.java
ios-selenium-tests/src/test/java/org/uiautomation/ios/selenium/PerformanceTest.java
ios-selenium-tests/src/test/java/org/uiautomation/ios/selenium/playground/PerformanceTest.java
*.svn*
