server/instrumentscli*
ide/instruments*
client/.settings
common/.settings
common/target
common/test-output
common/.classpath
common/.project
client/.settings
client/target
client/.classpath
client/.project
server/.settings
server/target
server/test-output
server/.classpath
server/.DS_Store
server/.project
ide/.settings
ide/target
ide/test-output
ide/.classpath
ide/.DS_Store
ide/.project
.project
.settings
.DS_Storeserver/uiamasterscript.js
ide/uiamasterscript.js
server/uiamasterscript.js
server/ss.png
instrumentscli*
server/src/test/resources/fr.json
/java/*
ide/src/test/java/org/uiautomation/ios/ide/pages/begin/SafariTests.java
ide/src/test/java/org/uiautomation/ios/ide/pages/begin/eBayTests.java
ide/src/test/java/org/uiautomation/ios/ide/pages/begin/SafariTests.java
go.sh
server-standalone-*.jar
ide/src/test/java/org/uiautomation/ios/selenium/PerformanceTest.java
ios-selenium-tests/src/test/java/org/uiautomation/ios/selenium/PerformanceTest.java
ios-selenium-tests/src/test/java/org/uiautomation/ios/selenium/playground/PerformanceTest.java
*.svn*
