<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ios-driver" parallel="false">
    <test name="web regression" preserve-order="true">
        <groups>
            <run>
                <include name="travis"/>
            </run>
        </groups>
        <packages>
            <package name="org.uiautomation.ios.selenium"/>
        </packages>
    </test>
</suite>