<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="server" parallel="false">
    <listeners>
        <listener class-name="org.uiautomation.ios.utils.StatCollector"></listener>
    </listeners>
	<test name="unit tests" preserve-order="true">
		<packages>
			<package name="org.uiautomation.ios.*" />
		</packages>
	</test>
	<!--<test name="config" preserve-order="true">-->
		<!--<packages>-->
			<!--<package name="org.uiautomation.ios.e2e.config.*" />-->
		<!--</packages>-->
	<!--</test>-->
    <!--<test name="crash" preserve-order="true">-->
        <!--<packages>-->
            <!--<package name="org.uiautomation.ios.e2e.crash.*" />-->
        <!--</packages>-->
    <!--</test>-->
	<!--<test name="hybrid" preserve-order="true">-->
		<!--<packages>-->
			<!--<package name="org.uiautomation.ios.e2e.hybrid.*" />-->
		<!--</packages>-->
	<!--</test>-->
	<!--<test name="intl" preserve-order="true">-->
		<!--<packages>-->
			<!--<package name="org.uiautomation.ios.e2e.intl.*" />-->
		<!--</packages>-->
	<!--</test>-->
    <!--<test name="gesture" preserve-order="true">-->
        <!--<packages>-->
            <!--<package name="org.uiautomation.ios.e2e.nativegestures.*" />-->
        <!--</packages>-->
    <!--</test>-->
	<!--<test name="uicatalogapp" preserve-order="true">-->
		<!--<packages>-->
			<!--<package name="org.uiautomation.ios.e2e.uicatalogapp.*" />-->
		<!--</packages>-->
	<!--</test>-->
</suite>