#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 0px;
    width: 100%;

}

#content {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: auto;
    width: 100%
}

.mainH {
    height: 400px;
}

#device {
    width: 500px;
    float: left;
}

.full-size {
    height: 100%;
    width: 100%;
}

.ui-resizable-handle {
    background-color: red;
}

#internals {
    margin-left: 500px;
    height: 400px;
}

.clear {
    clear: both;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;

}

.no-close .ui-dialog-titlebar-close {
    display: none;
}