div {
    border: 1px solid red;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;

}

#content {
    position: fixed;
    top: 70px;
    left: 0px;
    height: 100%;
    overflow: auto;
    width: 100%
}

#main {
    border: 1px solid blue;
}

.mainH {
    height: 400px;
}

#device {
    width: 500px;

    float: left;
}

#internals {
    margin-left: 500px;
    height: 400px;
}

.splitter {
    float: right;
    width: 2px;
    height: 500px;
    cursor: col-resize;
    background-color: #000000;
    top: -20px;

}

.clear {
    clear: both;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;

}
